<ng-container *ngIf="link && link !== '' && link !== undefined">
  <!-- External Link -->
  <a *ngIf="link.startsWith('http')"
     [href]="link"
     class="btn btn-{{ color }}"
     target="_blank"
     rel="noopener noreferrer"
     (click)="$event.stopPropagation()">
    {{ text }}
  </a>
  <!-- Internal Link -->
  <a *ngIf="!link.startsWith('http')"
     [routerLink]="link"
     class="btn btn-{{ color }}"
     (click)="$event.stopPropagation()">
    {{ text }}
  </a>
</ng-container>

<button *ngIf="!link || link === '' || link === undefined" 
   class="btn btn-{{ color }}" 
   (click)="onButtonClick()">
  {{ text }}
</button>

