<div class="container mt-5">
    <div class="card shadow p-4">
      <h2 class="text-center">Iniciar sesión</h2>
      <form (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Ingresar</button>
      </form>
    </div>
  </div>
  <div class="text-center mt-3">
    <p>¿Todavía no tienes una cuenta?  
      <a routerLink="/register" class="text-primary fw-bold">Crea una aquí</a>
    </p>
  </div>
  