.container {
  margin-top: 400px;
  margin-bottom: 200px ;
}


.card {
    border-radius: 12px;
    border: none;
    transition: transform 0.2s ease-in-out;
    
    &:hover {
      transform: translateY(-3px);
    }
  }

  .card-text {
    display: -webkit-box;
    display: box; /* Propiedad estándar */
    -webkit-line-clamp: 2; // Limita a 2 líneas
    line-clamp: 2; /* Propiedad estándar */
    -webkit-box-orient: vertical;
    box-orient: vertical; /* Propiedad estándar */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  
  .btn-primary {
    background-color: #d32f2f; // Rojo elegante acorde a PixelNova
    border: none;
    &:hover {
      background-color: #b71c1c;
    }
  }

  .no-memorials {
    text-align: center;
    margin-top: 150px;
  }
  
  .no-memorials h2 {
    font-size: 1.5rem;
    color: #333;
  }
  
  .no-memorials p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .no-memorials .btn {
    font-size: 1rem;
    padding: 10px 20px;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }