<app-aemet></app-aemet>

<app-hero title="Contacta con pixelnova.es y te responderemos lo antes posible"
  description="Estamos desando de ayudarte a impulsar tu negocio a otro nivel"
  buttonText="Consultar el tiempo para vídeos aéreos"
  (buttonClick)="enfocarCampoMunicipio()"
  backgroundImage="assets/img/moniello-playa.JPG">
</app-hero>

<div class="container mt-4">
  <div class="row">  
    <!-- 📌 Sidebar Izquierdo (Tendencias de Marketing) -->
    <div class="col-lg-3 d-none d-lg-block">
      <app-sidebar name="ayuda"></app-sidebar>
    </div>

    <!-- 📌 Contenedor del formulario -->
    <div class="col-lg-6">
      <div class="card shadow-lg border-0 rounded-4 mx-auto">
        <div class="card-body p-4">
          <h2 class="text-center mb-4">Rellena el formulario</h2>

          <form (ngSubmit)="sendEmail()">
            <!-- Nombre -->
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" class="form-control rounded-3" id="name" [(ngModel)]="form.name" name="name" required>
            </div>

            <!-- Email -->
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control rounded-3" id="email" [(ngModel)]="form.email" name="email" required>
            </div>

            <!-- Teléfono (Opcional) -->
            <div class="mb-3">
              <label for="phone" class="form-label">Teléfono (Opcional)</label>
              <input type="tel" class="form-control rounded-3" id="phone" [(ngModel)]="form.phone" name="phone">
            </div>

            <!-- Mensaje -->
            <div class="mb-3">
              <label for="message" class="form-label">Mensaje</label>
              <textarea class="form-control rounded-3" id="message" rows="4" [(ngModel)]="form.message" name="message" required></textarea>
            </div>

            <!-- Botón Enviar -->
            <button type="submit" class="btn btn-primary w-100 py-2 fw-bold rounded-3">
              Enviar Mensaje
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- 📌 Sidebar Derecho (Recursos Útiles) -->
    <div class="col-lg-3 d-none d-lg-block">
      <app-sidebar name="interes"></app-sidebar>
    </div>
  </div>
</div>
