.memorial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    min-height: 100vh; // Para que ocupe toda la pantalla
    background: #250000; // 🔴 Rojo oscuro, cambia a #004d00 para verde
  }
  
  .memorial-card {
    max-width: 800px;
    background: rgba(255, 255, 255, 0.15); // Fondo semitransparente
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    text-align: center;
    backdrop-filter: blur(10px); // ✨ Efecto de vidrio esmerilado
  }
  
  .memorial-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
  }
  
  
  .memorial-description {
    font-size: 18px;
    color: #eee; // Gris claro
    margin-bottom: 20px;
  }
  
  .memorial-video iframe {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    width: 100%;
  }
  