<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
      <app-title [text]="'Calculadora de <span style=color:#007bff;>Tarifas Taxi</span>'"></app-title>
      <app-paragraph [text]="'Una calculadora de tarifas personalizable para taxistas, con precios por tramos, recargos por pasajeros, equipaje, nocturnidad, fin de semana y festivos.'"></app-paragraph>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-lg-6">
      <!-- Aquí se incrustará el Web Component de la calculadora -->
      <taxi-calculator driver-id="driver123"></taxi-calculator>
    </div>
  </div>
</div>