<section class="hero text-center"
  [ngStyle]="backgroundImage ? {'background-image': 'url(' + backgroundImage + ')'} : {}">
  <div class="container">
    <h1 [innerHTML]="safeTitle"></h1>
    <h4 class="p-2 fw-light">{{ description }}</h4>

    <!-- Botón con lógica condicional -->
    <ng-container *ngIf="showButton">
      <!-- Si hay un evento de clic, muestra un botón que lo emite -->
      <button *ngIf="!shouldNavigate" (click)="onButtonClick($event)" class="btn btn-primary hero-button">
        {{ buttonText }}
      </button>

      <!-- Si no hay evento de clic, muestra un enlace de navegación -->
      <ng-container *ngIf="shouldNavigate && buttonText && buttonLink">
        <!-- Enlace externo -->
        <a *ngIf="buttonLink.startsWith('http')" [href]="buttonLink" target="_blank" rel="noopener noreferrer" class="btn btn-primary hero-button">
          {{ buttonText }}
        </a>
        <!-- Enlace interno -->
        <a *ngIf="!buttonLink.startsWith('http')" [routerLink]="buttonLink" class="btn btn-primary hero-button">
          {{ buttonText }}
        </a>
      </ng-container>
    </ng-container>
  
  

  </div>
</section>