<section class="hero text-center"
  [ngStyle]="backgroundImage ? {'background-image': 'url(' + backgroundImage + ')'} : {}">
  <div class="container">
    <h1>{{ title }}</h1>
    <h4 class="p-2 fw-light">{{ description }}</h4>

    <!-- ✅ Modificamos el botón para llamar a la función -->
    <app-button 
    *ngIf="showButton" 
    [text]="buttonText" 
    [link]="shouldNavigate ? buttonLink : undefined"
    color="primary"
    (click)="onButtonClick($event)">
  </app-button>
  
  

  </div>
</section>