<div class="row g-4">
    <div class="col-lg-4 col-md-6 col-12">
      <app-service-card icon="bi-globe2" title="Webs a Medida"
        description="Desarrollamos sitios web personalizados para tu negocio."
        link="/services/web"></app-service-card>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <app-service-card icon="bi-tools" title="Soporte 24/7 para tus webs"
        description="Soporte personalizado para optimizar el funcionamiento de tu web."
        link="/services/componentes"></app-service-card>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <app-service-card icon="bi-camera-video" title="Foto y vídeo aéreo"
        description="Fotografía y vídeo con drones para inmobiliaria, turismo y sector industrial."
        link="/services/video/aereo"></app-service-card>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <app-service-card icon="bi-bar-chart" title="SEO"
        description="Mejoramos la visibilidad de tu web en Google y otros buscadores para atraer más clientes."
        link="/services/seo"></app-service-card>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <app-service-card icon="bi-people" title="Redes Sociales"
        description="Gestionamos tus redes sociales y creamos contenido estratégico para conectar con tu audiencia."
        link="/services/social-media"></app-service-card>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <app-service-card icon="bi-shop" title="Hostelería"
        description="Impulsamos negocios de hostelería con estrategias digitales, marketing y presencia online efectiva."
        link="/services/hosteleria"></app-service-card>
    </div>
  </div>