<div class="row g-4 mb-4">
  <div class="col-lg-4 col-md-6 col-12">
    <app-service-card icon="bi-globe2" title="Sitios web"
      description="Desarrollamos sitios web con CMS o personalizados según las necesidades de tu negocio."
      link="services/webs"></app-service-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <app-service-card icon="bi-calendar-check" title="Gestor de Reservas"
      description="Software de gestión de reservas para todo tipo de negocios. Optimiza tu tiempo y el de tus clientes."
      link="/services/booking-manager"></app-service-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <app-service-card icon="bi-film" title="Memoriales"
      description="Creación de vídeos memoriales accesibles mediante un código QR en lápidas o nichos, a petición de la familia."
      link="/memorial"></app-service-card>
  </div>
  
  <div class="col-lg-4 col-md-6 col-12">
    <app-service-card icon="bi-camera-reels" title="Vídeo Aéreo"
      description="Vídeos con drones para todos los sectores. Destaca tus campañas de marketing con un buenos vídeos aéreos."
      link="/services/video/inmobiliaria"></app-service-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <app-service-card icon="bi-bar-chart" title="SEO"
      description="Mejoramos la visibilidad de tu web en Google y otros buscadores para atraer más potenciales clientes."
      link="/services/seo"></app-service-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <app-service-card icon="bi-tools" title="Calculadora de Tarifas Taxi"
      description="Calculadora de tarifas personalizable para taxistas, con precios por tramos, recargos y más."
      link="/services/taxi-calculator"></app-service-card>
  </div>
</div>
