<div class="row g-4">
  <div class="col-lg-4 col-md-6 col-12">
    <app-service-card icon="bi-globe2" title="Sitios web"
      description="Desarrollamos sitios web con CMS o personalizados según las necesidades de tu negocio."
      link="/services/web"></app-service-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <app-service-card icon="bi-film" title="Memoriales"
      description="Creación de vídeos memoriales accesibles mediante un código QR en lápidas o nichos, a petición de la familia."
      link="/services/memoriales"></app-service-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <app-service-card icon="bi-tools" title="Soporte 24/7"
      description="Soporte personalizado para optimizar el funcionamiento de tu web y todos tus sistemas."
      link="/services/componentes"></app-service-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <app-service-card icon="bi-camera-video" title="Foto y vídeo aéreo"
      description="Fotografía y vídeo con drones para inmobiliaria, turismo, sector industrial y mucho más."
      link="/services/video/aereo"></app-service-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <app-service-card icon="bi-bar-chart" title="SEO"
      description="Mejoramos la visibilidad de tu web en Google y otros buscadores para atraer más potenciales clientes."
      link="/services/seo"></app-service-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <app-service-card icon="bi-people" title="Redes Sociales"
      description="Gestionamos tus redes sociales y creamos contenido estratégico para conectar con tu audiencia."
      link="/services/social-media"></app-service-card>
  </div>
</div>