<app-hero title="El Legado de Los Nuestros"
    description="Crea un espacio digital único donde los recuerdos perduran para siempre. Descubre cómo funciona Pixelnova Memorial."
    buttonText="Más información" buttonLink="/contact" backgroundImage="assets/img/memorial-hero.jpg">
</app-hero>

<app-spacer [height]="'20px'"></app-spacer>


<div class="container-fluid wider-container">
    <div class="row align-items-stretch">

        <!-- Sidebar Izquierdo (Información sobre Pixelnova Memorial) -->
        <div class="col-lg-2 d-none d-lg-block">
            <app-sidebar title="Sobre Pixelnova Memorial" [items]="[
        { title: '¿Cómo funciona?', link: '/memorial#como-funciona' },
        { title: 'Beneficios para funerarias', link: '/memorial#funerarias' },
        { title: 'Beneficios para familias', link: '/memorial#familias' },
        { title: 'Planes y precios', link: '/memorial#precios' }, 
        { title: 'Preguntas frecuentes', link: '/memorial#faq' }
      ]"></app-sidebar>
        </div>

        <!-- Contenido Principal -->
        <div class="col-lg-8 col-md-12">

            <!-- Introducción al servicio -->
            <app-text-container bgColor="#f9f9f9" border="1px solid #ddd" borderRadius="10px">
                <div class="text-header">
                    <i class="bi bi-bookmark-heart-fill service-icon"></i>
                    <h2 id="como-funciona" class="text-left">¿Qué es exactamente "El Legado de los Nuestros"?</h2>
                </div>
                <p class="text-left">
                    <strong>El Legado de los Nuestros</strong> es una iniciativa dentro de Pixelnova Memorial que
                    permite a las familias rendir un
                    <strong>homenaje digital a sus seres queridos</strong>, asegurando que su memoria perdure en el
                    tiempo.
                </p>
                <p class="text-left">
                    Este servicio consiste en la creación de un <strong>memorial digital accesible mediante un código
                        QR</strong>,
                    el cual puede instalarse <strong>en la lápida</strong>, nicho, columbario o cualquier otro lugar
                    donde repose el fallecido.
                    Al escanear este código con un teléfono móvil, familiares y amigos podrán acceder a un espacio
                    conmemorativo en el que encontrarán:
                </p>
                <ul class="styled-list text-left">
                    <li>🎥 <strong>Vídeo homenaje:</strong> Fotografías, música y mensajes que relatan la historia de la
                        persona.</li>
                    <li>📜 <strong>Información esencial:</strong> Nombre, fechas de nacimiento y fallecimiento, y una
                        breve biografía.</li>
                    <li>🔒 <strong>Espacio privado (versión premium):</strong> Donde familiares y allegados pueden
                        compartir recuerdos, mensajes, fotos y vídeos.</li>
                </ul>

                <app-spacer [height]="'20px'"></app-spacer>

                <img src="/assets/img/lapida.png" alt="Ejemplo de lápida con código QR" class="memorial-image">
            </app-text-container>

            <app-spacer [height]="'20px'"></app-spacer>

            <!-- Opciones Disponibles -->
            <h3 class="text-center">Opciones disponibles:</h3>

            <app-spacer [height]="'20px'"></app-spacer>

            <!-- Servicio Básico -->
            <app-text-container bgColor="#f9f9f9" border="1px solid #ddd" borderRadius="10px">
                <div class="text-header text-left">
                    <i class="bi bi-journal-text service-icon"></i>
                    <h3>Servicio Básico</h3>
                </div>
                <p class="text-left">
                    Un homenaje digital sencillo pero significativo. Incluye:
                </p>
                <ul class="styled-list text-left">
                    <li>📹 <strong>Vídeo conmemorativo:</strong> Un montaje con fotos y música, relatando la historia
                        del ser querido.</li>
                    <li>📜 <strong>Página conmemorativa:</strong> Con nombre, fechas de nacimiento y fallecimiento.</li>
                    <li>🔗 <strong>Acceso mediante código QR:</strong> Instalado en la lápida o nicho.</li>
                </ul>
            </app-text-container>


            <app-spacer [height]="'20px'"></app-spacer>


            <!-- Servicio Premium -->
            <app-text-container bgColor="#eef7ff" border="1px solid #007bff" borderRadius="10px">
                <div class="text-header">
                    <i class="bi bi-shield-lock service-icon"></i>
                    <h3>Servicio Premium</h3>
                </div>
                <p>
                    Un espacio digital privado donde la familia y amigos pueden interactuar y compartir recuerdos.
                    Incluye todo el servicio básico más:
                </p>
                <ul class="styled-list">
                    <li>📸 <strong>Galería privada:</strong> Fotos y vídeos accesibles solo para familiares.</li>
                    <li>💬 <strong>Espacio para mensajes:</strong> Donde los allegados pueden compartir recuerdos y
                        homenajes.</li>
                    <li>👨‍👩‍👧‍👦 <strong>Colaboración familiar:</strong> Múltiples personas pueden contribuir con
                        contenido.</li>
                    <li>🔑 <strong>Acceso privado con código único:</strong> Exclusivo para familiares y amigos
                        cercanos.</li>
                </ul>
            </app-text-container>

            <app-spacer [height]="'20px'"></app-spacer>


            <!-- Beneficios para funerarias -->
            <app-text-container bgColor="#f9f9f9" border="1px solid #ddd" borderRadius="10px">
                <div class="text-header">
                    <i class="bi bi-shop service-icon"></i>
                    <h3 id="funerarias">Beneficios para funerarias</h3>
                </div>
                <ul class="styled-list">
                    <li>🏆 <strong>Diferenciación en el sector funerario:</strong> Ofrezca un servicio innovador y
                        tecnológico.</li>
                    <li>🤝 <strong>Fidelización de clientes:</strong> Proporcione a las familias una opción que les
                        ayude a recordar a sus seres queridos de manera especial.</li>
                    <li>📦 <strong>Gestión sencilla:</strong> Nos encargamos de todo, desde la recopilación de
                        información hasta el envío del código QR listo para instalar.</li>
                </ul>
            </app-text-container>


            <app-spacer [height]="'20px'"></app-spacer>


            <!-- Beneficios para familias -->
            <app-text-container bgColor="#f9f9f9" border="1px solid #ddd" borderRadius="10px">
                <div class="text-header">
                    <i class="bi bi-people-fill service-icon"></i>
                    <h3 id="familias">Beneficios para familias</h3>
                </div>
                <ul class="styled-list">
                    <li>🕊️ <strong>Un recuerdo eterno:</strong> Preserva la historia y legado de tus seres queridos en
                        un espacio digital.</li>
                    <li>📱 <strong>Accesible desde cualquier lugar:</strong> Solo se necesita un teléfono móvil para
                        acceder al memorial.</li>
                    <li>🔒 <strong>Espacio privado:</strong> En la opción premium, los familiares pueden compartir
                        fotos, mensajes y recuerdos de forma segura.</li>
                </ul>
            </app-text-container>

            <app-spacer [height]="'20px'"></app-spacer>

            <!-- Proceso de trabajo -->
            <app-text-container bgColor="#f9f9f9" border="1px solid #ddd" borderRadius="10px">
                <div class="text-header text-left">
                  <i class="bi bi-tools service-icon"></i>
                  <h3>Nos encargamos de todo el proceso</h3>
                </div>
                <ul class="styled-list text-left">
                  <li>📩 <strong>Recopilación del material:</strong> Contactamos con la familia para obtener imágenes, vídeos y la información relevante del fallecido.</li>
                  <li>🎬 <strong>Producción del vídeo homenaje:</strong> Creamos un montaje audiovisual profesional.</li>
                  <li>🌐 <strong>Publicación en la plataforma Pixelnova Memorial:</strong> Cada memorial tiene su propio espacio en nuestra web.</li>
                  <li>🔗 <strong>Generación del código QR:</strong> Enviamos el código QR impreso y listo para instalar en la lápida.</li>
                </ul>
              </app-text-container>
              

            <!-- Planes y precios -->
            <app-text-container>
                <a routerLink="/contact" class="btn btn-primary">Solicitar información</a>
            </app-text-container>

        </div>

        <!-- Sidebar Derecho (Otros Servicios de Pixelnova) -->
        <div class="col-lg-2 d-none d-lg-block">
            <app-sidebar title="Nuestros Servicios" [items]="[
        { title: 'Desarrollo web', link: '/services/web' },
        { title: 'Vídeo aéreo', link: '/services/video' },
        { title: 'Marketing digital', link: '/services/marketing' },
        { title: 'SEO y optimización', link: '/services/seo' },
        { title: 'Automatización de procesos', link: '/services/automatizacion' }
      ]"></app-sidebar>
        </div>

    </div>
</div>