<app-hero title="Todo lo que necesitas en desarrollo web y marketing digital para tu negocio está aquí"
  description="Páginas webs, gestor de reservas personalizado, posicionamiento SEO en buscadores, y mucho más. 
  Además, tendrás soporte 24/7 humano, sin robots ni contestadores automáticos para todo lo que necesites" buttonText="Contacta con un agente"
  buttonLink="/contact" backgroundImage="/assets/img/marketing-fondo-azul.jpg">
</app-hero>

<app-spacer [height]="'20px'"></app-spacer>


<div class="container-fluid wider-container">
  <div class="row align-items-stretch">
    <!-- Sidebar Izquierdo (Tendencias de Marketing) -->
    <div class="col-lg-2 d-none d-lg-block">
      <app-sidebar name="ayuda"></app-sidebar>
    </div>

    <!-- Contenido Principal (Ahora más ancho) -->
    <div class="col-lg-8 col-md-12">
      <app-service-list></app-service-list>
    </div>

    <!-- Sidebar Derecho (Recursos Útiles) -->
    <div class="col-lg-2 d-none d-lg-block">
      <app-sidebar name="interes"></app-sidebar>
    </div>
  </div>
</div>