.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
  
    .social-icons {
      margin: 10px 0;
      
      a {
        color: white;
        font-size: 20px;
        margin: 0 10px;
        text-decoration: none;
        
        &:hover {
          color: #ff0000; // Color rojo al pasar el mouse (se puede personalizar)
        }
      }
    }
  
    nav {
      margin-top: 10px;
      
      a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .social-icon {
    width: 20px;  /* Ajusta el tamaño según lo necesites */
    height: auto;
    filter: brightness(0) invert(1); /* Para que se vea bien en fondo oscuro */
  }
  
  