<footer class="footer bg-dark text-light py-4">
    <div class="container text-center">
      <p>&copy; {{ currentYear }} PixelNova. Todos los derechos reservados.</p>
      <div class="social-icons">
        <a href="https://www.youtube.com/@asturdrones" target="_blank" class="social-link">
          <i class="bi bi-youtube"></i>
        </a>
        <a href="https://bsky.app/profile/asturdrones.es" target="_blank" class="social-link">
            <img src="../../../../assets/logos/bluesky-logo.png" alt="Bluesky" class="social-icon">
        </a>
      </div>
      <nav>
        <a routerLink="/privacy-policy">Política de Privacidad</a> |
        <a routerLink="/terms">Términos y Condiciones</a> |
        <a routerLink="/contact">Contacto</a>
      </nav>
    </div>
  </footer>